@model IEnumerable<WebApplicationrRecolte.Models.association>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
<div class="main-panel">
    <div class="container">

        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-3">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">
                            ASSOCIATION</
                            h2>
                    </div>
                    <div class="ml-md-auto py-2 py-md-0">
                        <!-- PAGE-HEADER -->
                        <div class="page-header">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">ASSOCIATION</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Liste
                                </li>
                            </ol>
                        </div>
                        <!-- PAGE-HEADER END -->
                    </div>
                </div>
            </div>
        </div>
        @{

            IEnumerable<WebApplicationrRecolte.Models.association> associations = ViewData["association"] as IEnumerable<WebApplicationrRecolte.Models.association>;
            IEnumerable<WebApplicationrRecolte.Models.historique_asscociation> historiques = ViewData["historique"] as IEnumerable<WebApplicationrRecolte.Models.historique_asscociation>;
        }
        @{

            List<int> IDassocition = new List<int>();
        }
        @foreach (WebApplicationrRecolte.Models.historique_asscociation iteme in historiques)
        {
            IDassocition.Add(iteme.ID_association);
        }
        <div class="container-fluid">
            <a href="@Url.Action("create","associations")" class=" btn btn-sm  btn-success pull-right  " style="margin-top:5px; margin-bottom:5px"><i class="fa fa-plus mr-2"></i>Nouvelle assocition</a>
            <table class="table table-bordered">
                <tr>
                    <th>
                        NOM
                    </th>
                    <th>
                        TEL
                    </th>
                    <th>
                        DATE DE CREATION
                    </th>
                    <th>
                        COLLINE
                    </th>
                    <th>
                        ETAT
                    </th>
                    
                </tr>

                @foreach (WebApplicationrRecolte.Models.association item in associations)
                {
                    
                        if (IDassocition.Contains(item.ID_association) == true)
                        {


                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOM_association)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TEL_association)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATE_association)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.colline.NOM_colline)
                                </td>



                                <td>
                                    Inactif
                                </td>
                               
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOM_association)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TEL_association)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DATE_association)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.colline.NOM_colline)
                                </td>



                                <td>
                                    Actifs
                                </td>
                                
                            </tr>
                        }
                    }

                </table>
        </div>
    </div>




